Django>=6.0,<6.1
django-allauth>=65,<66
djangorestframework>=3.17,<3.18
django-cors-headers>=4.9,<5.0
django-filter>=26,<27
dj-database-url>=2.3,<3.0
pillow>=10,<13
whitenoise>=6,<7
python-dotenv>=1,<2
psycopg2-binary>=2.9,<3.0
requests>=2,<3
beautifulsoup4>=4,<5
PyJWT>=2,<3
cryptography~=41.0
cffi~=1.16
